<div class="justify-center formulario  ">
    <div >
    <form class=" shadow-md rounded px-8 pt-6 pb-8 mb-4 bg-yellow-100">
    <div class="mb-4">
        <h1 class="font-bold titulo">Registro de Usuarios:</h1>
        <label class="block text-gray-700 font-bold mb-2" for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha"><br>

        <br>
        <label class="block text-gray-700 font-bold mb-1" for="salida">Lugar de salida:</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="salida" name="salida">


        <label class="block text-gray-700 font-bold mb-2" for="llegada">Lugar de llegada:</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3
        text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="llegada" name="llegada">
        <div class="flex items-center justify-center">
            <button
                class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline btn-enviar"
                type="button" >
                Enviar
            </button>
        </div>
    </div>

</form>
</div>
</div>