<!-- Contenedor general -->

<div class="general-container flex flex-col items-center justify-center display-flex">

    <!-- Título de la aplicación -->
    <h1 class="text-5xl font-bold mb-5 text-yellow-500">¡Bienvenid@ a la aplicación de MoveCar!</h1>

    <!-- Texto de la aplicación -->
   

    <!-- Botón para acceder a la lista de usuarios -->
    <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mt-10" routerLink="/usuarios">
        Mostrar usuarios
    </button>

</div>